<div class="dropdown">
    <button class="btn btn-info dropdown-toggle" type="button" id="menu-action-button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i data-feather="zap"></i>
        Actions
    </button>
    <div class="dropdown-menu" aria-labelledby="menu-action-button">
        {% for action in include.action %}
            {% if action.name == "-" %}
                <div class="dropdown-divider"></div>
            {% else %}
                <a class="dropdown-item" href="#">
                    <i class="text-{{ action.color }}" data-feather="{{ action.icon }}"></i>
                    {{ action.name }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
