/* ibm-plex-sans-condensed-200 - vietnamese_latin */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/ibm_psc/ibm-plex-sans-condensed-v7-vietnamese_latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/ibm_psc/ibm-plex-sans-condensed-v7-vietnamese_latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/ibm_psc/ibm-plex-sans-condensed-v7-vietnamese_latin-200.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/ibm_psc/ibm-plex-sans-condensed-v7-vietnamese_latin-200.woff') format('woff'), /* Modern Browsers */
  url('../fonts/ibm_psc/ibm-plex-sans-condensed-v7-vietnamese_latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/ibm_psc/ibm-plex-sans-condensed-v7-vietnamese_latin-200.svg#IBMPlexSansCondensed') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-condensed-regular - vietnamese_latin */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ibm_psc/ibm-plex-sans-condensed-v7-vietnamese_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/ibm_psc/ibm-plex-sans-condensed-v7-vietnamese_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/ibm_psc/ibm-plex-sans-condensed-v7-vietnamese_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/ibm_psc/ibm-plex-sans-condensed-v7-vietnamese_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/ibm_psc/ibm-plex-sans-condensed-v7-vietnamese_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/ibm_psc/ibm-plex-sans-condensed-v7-vietnamese_latin-regular.svg#IBMPlexSansCondensed') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-condensed-700 - vietnamese_latin */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ibm_psc/ibm-plex-sans-condensed-v7-vietnamese_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/ibm_psc/ibm-plex-sans-condensed-v7-vietnamese_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/ibm_psc/ibm-plex-sans-condensed-v7-vietnamese_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/ibm_psc/ibm-plex-sans-condensed-v7-vietnamese_latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/ibm_psc/ibm-plex-sans-condensed-v7-vietnamese_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/ibm_psc/ibm-plex-sans-condensed-v7-vietnamese_latin-700.svg#IBMPlexSansCondensed') format('svg'); /* Legacy iOS */
}
